pascalstriangle/cmake-build-debug/
guessinggame/cmake-build-debug/
**/.idea/

*.o
*.a
*.so
*.dll
*.exe
*.obj
*.pdb
*.ilk
*.pch
*.idb
*.ncb
*.suo
*.user
*.aps
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.filters
bin/
obj/
Debug/
Release/
